
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>库位编号</th>
                    <th>库位名</th>
                    <th>所在仓库</th>
                    <th>库位类型</th>
                    <th>是否禁用</th>
                    <th>是否默认</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbo1">
            </tbody>
        </table>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var time = new Date();
    var y = time.getUTCFullYear(); //获取bai年du
    var m = time.getMonth() + 1; //获取月
    var d = time.getDate(); //获取日zhi
    var CopyTime = y + "-" + m + "-" + d;
    $(function () {
        QueryLocation();
    });
    function GetTime(op) {
        var time = new Date(parseInt(op.substr(6)));
        return time.toLocaleString();
    }
    function QueryLocation() {

        $.ajax({
            type: "post",
            url: "/BCY/QueryLocation",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                //清空
                $("#tbo1 tr").remove();
                $.each(result, function (index, data) {
                    $("#tbo1").append("<tr><td><input id='xz' type='checkbox' name='subcheck' /></td><td>" + data.LocationNum + "</td><td>" + data.LocationName + "</td><td>" + data.warehourseNum + "</td><td>" + data.barcode + "</td><td>" + data.isDisable + "</td><td> " + data.isDefult + "</td><td>" + GetTime(data.CreateTime) + "</td><td> " + data.isDel + "</td></tr>")
                });
            }, error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
</script>