
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery登录注册框动态切换代码 - 站长素材</title>

    <!--图标库 可无视-->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <!--核心样式-->
    <link rel="stylesheet" href="~/css/styley.css">

</head>
<body>

    <div class="container">
        <div class="card"></div>
        <div class="card">
            <h1 class="title">登录</h1>
            <form>
                <div class="input-container">
                    <input type="text" name="username" />
                    <label for="#{label}">用户名</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" name="userpwd" />
                    <label for="#{label}">密码</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button name="IsLogin"><span>登录</span></button>
                </div>
            </form>
        </div>
        <div class="card alt">
            <div class="toggle"></div>
            <h1 class="title">
                会员注册
                <div class="close"></div>
            </h1>
            <form>
                <div class="input-container">
                    <input type="#{type}" id="#{label}" required="required" />
                    <label for="#{label}">用户名</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="#{type}" id="#{label}" required="required" />
                    <label for="#{label}">密码</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="#{type}" id="#{label}" required="required" />
                    <label for="#{label}">确认密码</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button><span>提交注册</span></button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/javascript/jquery.min.js"></script>
    <script src="~/javascript/script.js"></script>

</body>
</html>
<script src="~/javascript/jquery.js"></script>
<script>
    //验证登录
    $(function () {
        $("[name='IsLogin']").click(function () {
            $.ajax({
                url: "/Login/IsLogin",
                type: "post",
                data: {
                    username: $("[name='username']").val(),
                    userpwd: $("[name='userpwd']").val()
                }, success(result) {
                    if (result == "1") {
                        window.location.href = "/Entrepot/index";
                    } else {
                        alert("账号或密码错误");
                    }
                }, error(err) {
                    alert(err.responseText);
                }
            });
        });
    });
</script>